body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    color:white;
}

.card-red, .card-red.p {
    background-color: #f44336;
    color: white;
}

.card-blue, .card-blue.p {
    background-color: #2196f3;
    color: white;
}

.card-yellow, .card-yellow.p {
    background-color: #fdd835;
    color: white;
}

.card-green, .card-green.p {
    background-color: #66bb6a;
    color: white;
}

.svg {
    filter: invert()
}

.jumbo {
    background-color: #131313;
}



